#pageTitle{

  font-family: Helvetica;
  text-align: center;


}

#pageAuthor{

  text-align: center;

}

#chartTitle{

  font-family: Helvetica;

}

#chartName{

  text-align: center;

}

#options{

  font-family: Helvetica;

}



.grid{
  display:grid;
  grid-template-columns: 30% 68%;
  gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}

.grid > div{
  background:#eee;
  padding:1em;
}

/* ------- */
/* CHART STYLING */
/* ------- */

  /* CHART BACKGROUND */
  #chart
  {
    display: block; position: relative; width: 800px; height: 400px;
    background: rgb(255, 255, 255); border: 2px solid gray;
    font: 9px Helvetica;
  }

/* SEEMS TO BE CONTAINERS FOR EACH SECTION, INCLUDING BARS? */
  #chart tr, #chart th, #chart td
  {
    position: absolute; bottom: 0; width: 200px;
    z-index: 2; padding: 0; text-align: center;
  }

  /* BACKGROUND SECTIONS */
  /* THESE SET THE BEGINNING ZONES FOR EACH BAR */

    /* BACKGROUND SECTION 1 */
    #chart #q1 {left: 0;}

    /* BACKGROUND SECTION 2 */
    #chart #q2 {left: 200px;}

    /* BACKGROUND SECTION 3 */
    #chart #q3 {left: 400px;}

    /* BACKGROUND SECTION 4 */
    #chart #q4 {left: 600px; border-right: none;}


  /* BAR STYLING */

    /* ALL BARS */
    #chart .bar {width: 100px; border-bottom: none; color: #000;}

    /* LABELS ON ALL BARS */
    #chart .bar p {margin: 5px 0 0; padding: 0;}
    #chart .bar span {margin: 5px 0 0; padding: 0;}

    /* BROWN BARS ONLY */
    #chart .sent
    {
      left: 50px; background: #DCA;
    }


  /* TICKS */
    #ticks {position: relative; top: -405px; left: 2px; z-index: 1; font: 9px Helvetica}
    /* HORIZONTAL GRID */
    #ticks .tick {position: relative; border-bottom: 1px solid #BBB; width: 800px;}
    #ticks .tick p {position: absolute; left: 100%; top: -0.67em; margin: 0 0 0 0.5em;}
    #ticks .final p {position: absolute; left: 100%; top: 0em; margin: 0 0 0 0.5em;}


